* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightblue;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
}

p:last-child {
  font-size: 24px;
}

span {
  font-weight: bold;
}

hr {
  margin: 10px 0;
}
